.list{
    min-width: 90%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}
.list li{
    list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
    width: 85%;
}
.list .btn-list{
    padding: 5px 5px;
    background:  #f1948a;
    color:   #cb4335;
    font-weight: 700;
    font-size: 18px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s all;
}
.list .btn-list:hover{
   background:#cb4335 ; 
   color:#f1948a ;
}
.list .btn-list:nth-child(2){
    background:  #85c1e9;
    color:  #2874a6 ;
}
.list .btn-list:nth-child(2):hover{
    background: #2874a6;
    color: #85c1e9;
}
.list li span{
	display: flex;
	align-items: center;
}
.list li span .labelItem{
    background-color: white;
	width: 18px;
	height: 18px;
	border-radius: 20px;
	border: 2px solid  #7dcea0;
	cursor: pointer;
}
.list li span .labelItem.active{
    background: #82e0aa;
}