@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
 
}

body {
  margin: 0;
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

